<mat-toolbar color="primary">
  <span>{{ title }}</span>
  <span class="flex-1"></span>
  <input
    *ngIf="route === 'routes'"
    class="search-field"
    placeholder="Search"
    (keyup)="onSearchInputChange(input.value)"
    #input
  />
  <button
    mat-button
    [class.active]="route === 'general'"
    (click)="onRouteChange('general')"
  >
    General
  </button>
  <button
    mat-button
    [class.active]="route === 'routes'"
    (click)="onRouteChange('routes')"
  >
    Routes
  </button>
</mat-toolbar>
<div class="content-wrapper">
  <!--<router-outlet></router-outlet>-->
  <app-general *ngIf="route === 'general'"></app-general>
  <app-routes *ngIf="route === 'routes'"></app-routes>
</div>
