@import './variables.scss';

.button-method {
  min-width: auto !important;
  line-height: 18px !important;
  padding: 2px 12px 0 12px !important;
  border-radius: 3px !important;
  text-transform: uppercase;
  font-size: 10px !important;
  font-weight: bold;
}

.button-method mat-icon {
  font-size: 14px;
  height: 14px;
  width: 14px;
  transform: translate(-4px, -1px);
}

.button-options {
  background: #000;
  color: #fff;
}

.button-head {
  background: $grey;
  color: #fff;
}

.button-get {
  background: $light-blue;
  color: #fff;
}

.button-post {
  background: $green;
  color: #fff;
}

.button-put {
  background: $orange;
  color: #fff;
}

.button-delete {
  background: $red;
  color: #fff;
}

.button-patch {
  background: $purple;
  color: #fff;
}
